<!doctype html>
<html>
<head>
  <title>Movie Lovers</title>
</head>
<body>
  <h1>Movie Lovers</h1>
  <form action="/search_keyword" method="post">
    <input type="text" name="keyword" placeholder="Funny"> 
    <button type="submit" name="submit" value="submit">Submit</button>
  </form>
 </body>
</html>