<!doctype html>
<html>
<head>
  <title>Movie Posters</title>
  <link rel="stylesheet" type="text/css" href="/posters.css">
</head>
<body>
  <h1>Movie Posters</h1>
  <h3>"Which movie was released in 1999?"</h3>
    <% @movie_list.each do |movie| %>
      <img src = "<%= movie.poster%>">
      <form action="/answer" method="post">
        <input type="hidden" name="id" value='<%=movie.id %>'> 
        <button type="submit" name="submit" value="submit">This one!</button>
      </form>
    <% end %>
 </body>
</html>

